name: Build Pull Request

# Only run the build action when any pull request is created or updated
on: [pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE, so the job can access it
      - name: Checkout code
        uses: actions/checkout@v2

      # Setup node environment
      - name: Use Node.js Version 12
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: Cache NPM dependencies
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: npm-cache-

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn run build
